**/Python/Data/*.csv
**/MATLAB/*.mat
**/Python/Data/Baseline/*.csv
**/Python/Data/Stimuli/*.csv
**/Python/Data/Metadata/*.csv
**/MATLAB/*.asv
**/Python/venv/Include/
**/Python/venv/Scripts/
**/Python/venv/Lib
**/Python/venv/share/
**/Python/.idea
**/Python/Main/*.png
**/Python/Main/dbn/tensorflow/__pycache__/
**/Python/Main/dbn/__pycache__
Python/Main/__pycache__/__init__.cpython-37.pyc
